<div>
  <section id="inicio">

    <!-- ////////////////////////////////////////////////////////////////////////////////////////// -->
    <!-- Sección en Español -->

    <div class="container-section esp" id="esp">
      <h1 class="titulo esp">Formulario de incidencias</h1>
      <!-- Selección de incidencia -->
      <article>
        <div class="form">
        </div>
      </article>
      <article>
        <div class="form">
          <label class="titulo esp" for="mainIncidencia">Seleccione</label>
          <select name="mainIncidencia" id="mainIncidencia" [(ngModel)]="incidencia.mainIncidencia" (change)="cambio()">
            <option value="" selected>Tipo de incidencia</option>
            <option value="1">Basura / Suciedad</option>
            <option value="2">Infraestructura Dañada / Defectuosa</option>
            <option value="3">Animales</option>
            <option value="4">Visitantes</option>
          </select>
        </div>
      </article>

      <!-- //////////////////////////////////// -->
      <!-- Incidencia 1 -->
      <article *ngIf="incidencia.mainIncidencia === '1'">
        <div class="form">
          <label class="titulo" for="subIncidencia">Basura / Suciedad</label>
          <select name="subIncidencia" id="subIncidencia" [(ngModel)]="incidencia.subIncidencia" (change)="cambioLugar()">
            <option value="" selected>Descripción de la incidencia</option>
            <option value="1">Papelera llena</option>
            <option value="2">Basura en espacio público</option>
            <option value="3">Desechos corporales</option>
          </select>
        </div>
      </article>

      <!-- Botón Incidencia 1 / Papelera llena -->
      <article *ngIf="incidencia.mainIncidencia === '1' && incidencia.subIncidencia === '1'">
        <div class="form">
          <button type="submit" class="btn btn-enviar" (click)="enviarIncidencia()">Enviar</button>
        </div>
      </article>

      <!-- Incidencia 1 / Basura en espacio público -->
      <article *ngIf="incidencia.mainIncidencia === '1' && incidencia.subIncidencia === '2'">
        <div class="form">
          <label class="titulo" for="lugarIncidencia">Basura en espacio público</label>
          <select name="lugarIncidencia" id="lugarIncidencia" [(ngModel)]="incidencia.lugarIncidencia">
            <option value="" selected>Lugar donde se encuentra</option>
            <option value="zvs">Zonas verdes</option>
            <option value="cal">Calzada</option>
          </select>
        </div>
      </article>

      <!-- Botón Incidencia 1 / Basura en espacio público -->
      <article
        *ngIf="incidencia.mainIncidencia === '1' && incidencia.subIncidencia === '2' && incidencia.lugarIncidencia !== ''">
        <div class="form">
          <button type="submit" class="btn btn-enviar" (click)="enviarIncidencia()">Enviar</button>
        </div>
      </article>

      <!-- Incidencia 1 / Desechos corporales -->
      <article *ngIf="incidencia.mainIncidencia === '1' && incidencia.subIncidencia === '3'">
        <div class="form">
          <label class="titulo" for="lugarIncidencia">Desechos corporales</label>
          <select name="lugarIncidencia" id="lugarIncidencia" [(ngModel)]="incidencia.lugarIncidencia">
            <option value="" selected>Lugar donde se encuentra</option>
            <option value="pap">Papeleras</option>
            <option value="zvs">Zonas verdes</option>
            <option value="cal">Calzada</option>
          </select>
        </div>
      </article>

      <!-- Botón Incidencia 1 / Desechos corporales -->
      <article
        *ngIf="incidencia.mainIncidencia === '1' && incidencia.subIncidencia === '3' && incidencia.lugarIncidencia !== ''">
        <div class="form">
          <button type="submit" class="btn btn-enviar" (click)="enviarIncidencia()">Enviar</button>
        </div>
      </article>

      <!-- //////////////////////////////////// -->
      <!-- Incidencia 2 -->
      <article *ngIf="incidencia.mainIncidencia === '2'">
        <div class="form">
          <label class="titulo" for="subIncidencia">Infraestructura Dañada / Defectuosa</label>
          <select name="subIncidencia" id="subIncidencia" [(ngModel)]="incidencia.subIncidencia">
            <option value="" selected>Descripción de la incidencia</option>
            <option value="1">Inmobiliario</option>
            <option value="2">Cercas / Jaulas</option>
            <option value="3">Iluminación</option>
            <option value="4">Fuentes de agua</option>
            <option value="5">Comportamiento incívico de visitante</option>
          </select>
        </div>
      </article>

      <!-- Botón Incidencia 2 -->
      <article *ngIf="incidencia.mainIncidencia === '2' && incidencia.subIncidencia !== ''">
        <div class="form">
          <button type="submit" class="btn btn-enviar" (click)="enviarIncidencia()">Enviar</button>
        </div>
      </article>

      <!-- //////////////////////////////////// -->
      <!-- Incidencia 3 -->
      <article *ngIf="incidencia.mainIncidencia === '3'">
        <div class="form">
          <label class="titulo" for="subIncidencia">Animales</label>
          <select name="subIncidencia" id="subIncidencia" [(ngModel)]="incidencia.subIncidencia">
            <option value="" selected>Descripción de la incidencia</option>
            <option value="1">Objeto extraño en recinto del animal</option>
            <option value="2">Comportamiento extraño del animal</option>
            <option value="3">Comportamiento incívico de visitante</option>
          </select>
        </div>
      </article>
      <!-- Botón Incidencia 3 -->
      <article *ngIf="incidencia.mainIncidencia === '3' && incidencia.subIncidencia !== ''">
        <div class="form">
          <button type="submit" class="btn btn-enviar" (click)="enviarIncidencia()">Enviar</button>
        </div>
      </article>

      <!-- //////////////////////////////////////////////////////////////////////////////////////////// -->
      <!-- Incidencia 4 -->
      <article *ngIf="incidencia.mainIncidencia === '4'">
        <div class="form">
          <label class="titulo" for="subIncidencia">Visitantes</label>
          <select name="subIncidencia" id="subIncidencia" [(ngModel)]="incidencia.subIncidencia">
            <option value="" selected>Descripción de la incidencia</option>
            <option value="1">Atención sanitaria</option>
          </select>
        </div>
      </article>

      <!-- Botón Incidencia 4 -->
      <article *ngIf="incidencia.mainIncidencia === '4' && incidencia.subIncidencia !== ''">
        <div class="form">
          <button type="submit" class="btn btn-enviar" (click)="enviarIncidencia()">Enviar</button>
        </div>
      </article>

      <!-- //////////////////////////////////////////////////////////////////////////////////////////// -->
      <!-- Botón Cancelar incidencia -->
      <article>
        <div class="form">
          <button class="btn btn-cancelar" type="button" routerLink="{{ ruta }}">Cancelar</button>
        </div>
      </article>
    </div>

    <!-- ////////////////////////////////////////////////////////////////////////////////////////// -->
    <!-- ////////////////////////////////////////////////////////////////////////////////////////// -->
    <!-- ////////////////////////////////////////////////////////////////////////////////////////// -->
    <!-- Sección en Ingles -->
    <div class="container-section eng hidden" id="eng">
      <h1 class="titulo esp">Incident form</h1>
      <!-- Selección de incidencia -->
      <article>
        <div class="form">
          <label class="titulo" for="mainIncidencia">Select</label>
          <select name="mainIncidencia" id="incidencia.mainIncidencia" [(ngModel)]="incidencia.mainIncidencia" (change)="cambio()">
            <option value="" selected>Type of incidence</option>
            <option value="1">Trash / Dirt</option>
            <option value="2">Damaged / Defective Infrastructure</option>
            <option value="3">Animals</option>
            <option value="4">Visitors</option>
          </select>
        </div>
      </article>

      <!-- //////////////////////////////////// -->
      <!-- Incidencia 1 -->
      <article *ngIf="incidencia.mainIncidencia === '1'">
        <div class="form">
          <label class="titulo" for="subIncidencia">Trash / Dirt</label>
          <select name="subIncidencia" id="subIncidencia" [(ngModel)]="incidencia.subIncidencia" (change)="cambioLugar()">
            <option value="" selected>Description of the incident</option>
            <option value="1">Bin full</option>
            <option value="2">Garbage in public space</option>
            <option value="3">Bodily waste</option>
          </select>
        </div>
      </article>
      <!-- Botón Incidencia 1 / Papelera llena -->
      <article *ngIf="incidencia.mainIncidencia === '1' && incidencia.subIncidencia === '1'">
        <div class="form">
          <button type="submit" class="btn btn-enviar" (click)="enviarIncidencia()">Send</button>
        </div>
      </article>

      <!-- Incidencia 1 / Basura en espacio público -->
      <article *ngIf="incidencia.mainIncidencia === '1' && incidencia.subIncidencia === '2'">
        <div class="form">
          <label class="titulo" for="lugarIncidencia">Garbage in public space</label>
          <select name="lugarIncidencia" id="lugarIncidencia" [(ngModel)]="incidencia.lugarIncidencia">
            <option value="" selected>Place where you are</option>
            <option value="zvs">Parkland</option>
            <option value="cal">Road</option>
          </select>
        </div>
      </article>
      <!-- Botón Incidencia 1 / Basura en espacio público -->
      <article
        *ngIf="incidencia.mainIncidencia === '1' && incidencia.subIncidencia === '2' && incidencia.lugarIncidencia !== ''">
        <div class="form">
          <button type="submit" class="btn btn-enviar" (click)="enviarIncidencia()">Send</button>
        </div>
      </article>

      <!-- Incidencia 1 / Desechos corporales -->
      <article *ngIf="incidencia.mainIncidencia === '1' && incidencia.subIncidencia === '3'">
        <div class="form">
          <label class="titulo" for="lugarIncidencia">Bodily waste</label>
          <select name="lugarIncidencia" id="lugarIncidencia" [(ngModel)]="incidencia.lugarIncidencia">
            <option value="" selected>Place where you are</option>
            <option value="pap">Litter bins</option>
            <option value="zvs">Parkland</option>
            <option value="cal">Road</option>
          </select>
        </div>
      </article>
      <!-- Botón Incidencia 1 / Desechos corporales -->
      <article
        *ngIf="incidencia.mainIncidencia === '1' && incidencia.subIncidencia === '3' && incidencia.lugarIncidencia !== ''">
        <div class="form">
          <button type="submit" class="btn btn-enviar" (click)="enviarIncidencia()">Send</button>
        </div>
      </article>

      <!-- //////////////////////////////////// -->
      <!-- Incidencia 2 -->
      <article *ngIf="incidencia.mainIncidencia === '2'">
        <div class="form">
          <label class="titulo" for="subIncidencia">Damaged / Defective Infrastructure</label>
          <select name="subIncidencia" id="subIncidencia" [(ngModel)]="incidencia.subIncidencia">
            <option value="" selected>Description of the incident</option>
            <option value="1">Real estate</option>
            <option value="2">Fences / Cages</option>
            <option value="3">Illumination</option>
            <option value="4">Water sources</option>
            <option value="5">Uncivil visitor behavior</option>
          </select>
        </div>
      </article>
      <!-- Botón Incidencia 2 -->
      <article *ngIf="incidencia.mainIncidencia === '2' && incidencia.subIncidencia !== ''">
        <div class="form">
          <button type="submit" class="btn btn-enviar" (click)="enviarIncidencia()">Send</button>
        </div>
      </article>

      <!-- //////////////////////////////////// -->
      <!-- Incidencia 3 -->
      <article *ngIf="incidencia.mainIncidencia === '3'">
        <div class="form">
          <label class="titulo" for="subIncidencia">Animals</label>
          <select name="subIncidencia" id="subIncidencia" [(ngModel)]="incidencia.subIncidencia">
            <option value="" selected>Description of the incident</option>
            <option value="1">Foreign object in the animal's enclosure</option>
            <option value="2">Strange behavior of the animal</option>
            <option value="3">Uncivil visitor behavior</option>
          </select>
        </div>
      </article>
      <!-- Botón Incidencia 3 -->
      <article *ngIf="incidencia.mainIncidencia === '3' && incidencia.subIncidencia !== ''">
        <div class="form">
          <button type="submit" class="btn btn-enviar" (click)="enviarIncidencia()">Send</button>
        </div>
      </article>

      <!-- //////////////////////////////////// -->
      <!-- Incidencia 4 -->
      <article *ngIf="incidencia.mainIncidencia === '4'">
        <div class="form">
          <label class="titulo" for="subIncidencia">Visitors</label>
          <select name="tipoVisitante" id="tipoVisitante" [(ngModel)]="incidencia.subIncidencia">
            <option value="0" selected>Description of the incident</option>
            <option value="1">Health care</option>
          </select>
        </div>
      </article>
      <!-- Botón Incidencia 4 -->
      <article *ngIf="incidencia.mainIncidencia === '4' && incidencia.subIncidencia !== ''">
        <div class="form">
          <button type="submit" class="btn btn-enviar" (click)="enviarIncidencia()">Send</button>
        </div>
      </article>

      <!-- //////////////////////////////////////////////////////////////////////////////////////////// -->
      <!-- Botón Cancelar incidencia -->
      <article>
        <div class="form">
          <button class="btn btn-cancelar" type="button" routerLink="{{ ruta }}">Cancel</button>
        </div>
      </article>
    </div>
  </section>
</div>
