<div>
  <section id="inicio">

    <!-- Sección en Español -->
    <div class="container-section esp" id="esp">
      <h1 class="titulo linea">Bisonte Europeo</h1>

      <div class="imagen">
        <img src="./assets/bisonteEuropeo.jpg" alt="Bisonte Europeo" title="Bisonte Europeo">
      </div>

      <article>
        <h2 class="titulo linea">¿Quién es?</h2>

        <p>Este bisonte es el <strong>mamífero de mayor tamaño existente en Europa</strong>, y se le parece mucho a su
          pariente americano, si bien es presenta una constitución más ligera (además de carecer de joroba). El pelaje
          de los adultos, pardo, es más oscuro que el de los becerros, y se desarrolla sobre todo en la cabeza, hombros
          y cuello. Poseen una pequeña &#34;barba&#34; en la garganta, mientras que en las patas tienen el pelo corto (al
          contrario que el Bisonte americano). La cornamenta es propia de ambos sexos, y puede llegar a medir 50
          centímetros. Habitan en los bosques espesos, templados y húmedos del este europeo.</p>
      </article>

      <article>
        <h2 class="titulo linea">¿Cuáles son sus costumbres?</h2>

        <p>El Bisonte Europeo vive en <strong>pequeños rebaños</strong>pequeños rebaños escondidos de entre 10 y 30
          individuos y, pese a su pesada apariencia, <strong>es muy veloz</strong>. Eso le sirve para defender con
          fiereza a sus terneros de los ataques de osos y lobos. Igualmente, son buenos nadadores y disfrutan mucho
          sumergiéndose en los pantanos. Entre agosto y septiembre tiene lugar la época de celo, tras la cual se sucede
          la gestación, que dura entre 260 y 270 días. Las hembras paren una sola cría, alejándose antes para dar a luz.
          Son mamíferos herbívoros.</p>
      </article>

      <article>
        <h2 class="titulo linea">Sabías que…</h2>
        <p><strong>La Primera Guerra Mundial por poco acaba con esta especie</strong>. Al término de la contienda apenas
          quedaban 60 ejemplares de bisonte en todo el continente.</p>
      </article>
    </div>

    <!-- Sección en Ingles -->
    <div class="container-section eng hidden" id="eng">
      <h1 class="titulo linea">European bison</h1>

      <div class="imagen">
        <img src="./assets/bisonteEuropeo.jpg" alt="European bison" title="European bison">
      </div>

      <article>
        <h2 class="titulo linea">Who is it?</h2>

        <p>This bison is the largest <strong>mammal in Europe</strong>, and it looks very similar to its American
          cousin, though it has a slighter appearance (as well as lacking a hump). The fur of the adults, which is
          brown, is darker than that of the calves, and it grows all over its head, shoulder and neck. They have a
          little &#34;beard&#34; on their throats, while the hair on their legs is short (unlike the American bison). Both sexes
          have horns and they may as much as 50 cm long. They inhabit dense, temperate and moist forests in Eastern
          Europe.</p>
      </article>

      <article>
        <h2 class="titulo linea">What are its habits?</h2>

        <p>The European bison lives in <strong>small hidden</strong> herds of between 10 and 30 individuals and, despite
          its heavy appearance, <strong>is very fast</strong>. That allows it fiercely to defend its calves from attacks
          from bears and wolves. Likewise, they are good swimmers and enjoy submerging themselves in swamps. The
          breeding season is between August and September, after which the gestation takes place, which lasts between
          260 and 270 days. The females give birth to a single calf, removing themselves to give birth. They are
          herbivorous mammals.</p>
      </article>

      <article>
        <h2 class="titulo linea">Did you know…</h2>
        <p><strong>The First World War almost killed off this species</strong>. At the end of the conflict there were
          barely 60 bison left in the whole continent.</p>
      </article>
    </div>
    
  </section>
</div>
