<div>
  <section id="inicio">
    <!-- Sección en Español -->
    <div class="container-section esp" id="esp">
      <h1 class="titulo linea">Oso Hormiguero</h1>

      <div class="imagen">
        <img src="./assets/osoHorniguero.jpg" alt="Oso Hormiguero" title="Oso Hormiguero">
      </div>

      <article>
        <h2 class="titulo linea">¿Quién es?</h2>
        <p><strong>Primo del armadillo y del perezoso</strong>, el Oso Hormiguero es uno de los <strong>mamíferos más
            antiguos del planeta</strong>. Y de los más extraños, también: su peculiar y prolongada cabeza, rematada por
          una pequeñísima boca, le confiere un aspecto muy reconocible.</p>
        <p>De hocico largo sin dientes, orejas pequeñas y pelaje tupido, es originario de la parte <strong>central y
            sureña de América</strong> (si bien ha desaparecido de algunos países en Centroamérica). Su hábitat natural
          es variado: ha vivido en bosques húmedos y secos, áreas pantanosas, sabanas y pastizales.</p>

      </article>

      <article>
        <h2 class="titulo linea">¿Cuáles son sus costumbres?</h2>

        <p><strong></strong>Consume miles de hormigas al día. De hecho son éstas, junto con las termitas, las que
          determinan el territorio en el que viven. Eso sí, son selectivos: de las cientos de especies existentes,
          solamente escogen cuatro o cinco tipos de hormiga. Al poseer un <strong>olfato fino</strong> , es capaz de
          localizar con facilidad sus presas favoritas, a las que alcanza excavando el suelo con sus potentes garras.
        </p>
        <p>La reproducción del Oso hormiguero no es estacional. La gestación se desarrolla a lo largo de 190 días, tras
          los cuales nace una cría. Apenas nacida, ésta se agarra con sus uñas al pelo de la madre para trepar hasta su
          lomo, donde permanece durante un año. Pasado este tiempo, se separa de ella para comenzar a explorar el
          entorno en soledad.</p>
        <p>Los osos hormigueros <strong>no parecen tener contacto entre sí</strong>: normalmente se dedican a recorrer
          vastas extensiones para alimentarse, y solamente se relacionan entre ellos en época de apareamiento.</p>
      </article>

      <article>
        <h2 class="titulo linea">Sabías que…</h2>
        <p>Sucede que en cautividad el Oso hormiguero cohabita con facilidad e incluso se olvida de la búsqueda de
          alimento, lo cual aumenta su sociabilidad con otros individuos.</p>
      </article>
    </div>
    <!-- Sección en Ingles -->
    <div class="container-section eng hidden" id="eng">
      <h1 class="titulo linea">Ant-Eater</h1>

      <div class="imagen">
        <img src="./assets/osoHorniguero.jpg" alt="Ant-Eater" title="Ant-Eater">
      </div>

      <article>
        <h2 class="titulo linea">Who is it?</h2>
        <p><strong>A cousin of the armadillo and the sloth</strong>, the giant anteater is one of the oldest mammals on
          the planet. And also one the strangest: its peculiar elongated head, finishing in a tiny mouth, gives it a
          very recognisable appearance.</p>
        <p>It has a long toothless snout, small ears and dense fur, it is native to <strong>Central and South
            America</strong> (though it is locally extinct in some Central American countries). Its natural habitat is
          varied: it has lived in moist and dry forests, swampy areas, savannahs and grasslands.</p>
      </article>

      <article>
        <h2 class="titulo linea">What are its habits?</h2>
        <p><strong>It consumes thousands of ants each day</strong>. In fact, ants, along with termites, are what
          determine the territory in which they live. Having said that, they are selective: of the hundreds of existing
          species, they only choose four or five species of ant. Since they have <strong>a strong sense of
            smell</strong>, they are capable of easily locating their favourite prey, which they reach by digging into
          the ground which their powerful claws.</p>
        <p>The giant anteater's reproduction is not seasonal. Gestation occurs over 190 days, after which one pup is
          born. Shortly after birth, it grips its mother&#39;s fur with its claws to climb on her back, where it remains for
          a year. After this time, it separates from her to begin to explore its environment alone.</p>
        <p>Giant anteaters <strong>do not seem to have any contact with one another</strong>: they normally spend their
          time covering vast expanse to feed, and only interact with each other to breed.</p>
      </article>

      <article>
        <h2 class="titulo linea">Did you know…</h2>
        <p>In captivity the giant anteater easily cohabits and even forgets to search for food, which increases its
          sociability with other individuals.</p>
      </article>
    </div>
  </section>
</div>
