<div>
  <section id="inicio">
    <!-- Sección en Español -->
    <div class="container-section esp" id="esp">
      <h1 class="titulo linea">Tigre de Bengala</h1>

      <div class="imagen">
        <img src="./assets/tigreBengala.jpg" alt="Tigre de Bengala" title="Tigre de Bengala">
      </div>

      <article>
        <h2 class="titulo linea">¿Quién es?</h2>

        <p>El Tigre de Bengala, una de las seis subespecies de tigres que existen en el mundo, es el único felino de
          piel rayada. Sus grandes dimensiones le convierten en el mayor de los félidos (carnívoros que se alimentan,
          casi exclusivamente, de los animales que matan). Los bellísimos tigres blancos son una variedad del ejemplar
          de la <strong>India</strong>. Su color blanco roto o crema obedece a una mutación recesiva, es decir, a una
          mala transcripción del código genético en el gen responsable del color (cuando madre y padre son portadores de
          dicho gen). Tienen pupilas de color rosa e iris azul, generalmente. Las franjas son de tonalidades que van del
          gris tostado al negro.</p>
        <p>En el último siglo, la caza y la destrucción de los bosques han reducido la población de tigres: de cientos
          de miles de individuos han pasado a <strong>ser menos de 2.500</strong>. La importancia de los programas de
          conservación es máxima.</p>
      </article>

      <article>
        <h2 class="titulo linea">¿Cuáles son sus costumbres?</h2>

        <p>Especie <strong>selvática</strong> por excelencia, vive allí donde abundan los félidos y está particularmente
          adaptado para la caza.</p>
        <p><strong>Su pelaje le sirve para camuflarse</strong> entre las sombras de los árboles o la hierba. Patrulla su
          territorio por las noches, <strong>solitario</strong>; es muy <strong>sigiloso</strong>, tanto que parece que
          sus patas apenas toquen el suelo.</p>
        <p>Los tigres están en el <strong>top de depredadores</strong>, tan solo por detrás de los osos.</p>
        <p>En época de apareamiento, sin embargo, son sorprendentemente tiernos: macho y hembra se muestran muy
          tolerantes el uno con el otro. Alcanzan la madurez sexual a los tres años, y suelen tener camadas de dos a
          tres cachorros (después de 103 días de gestación).</p>
      </article>

      <article>
        <h2 class="titulo linea">Sabías que…</h2>
        <p>Los tigres <strong>son más longevos en los zoológicos que en estado silvestre</strong>, donde tienen una edad
          media de entre ocho y 10 años. En cautividad pueden alcanzar los 26 de años de edad.</p>
      </article>
    </div>
    <!-- Sección en Ingles -->
    <div class="container-section eng hidden" id="eng">
      <h1 class="titulo linea">Bengal Tiger</h1>

      <div class="imagen">
        <img src="./assets/tigreBengala.jpg" alt="Bengal Tiger" title="Bengal Tiger">
      </div>

      <article>
        <h2 class="titulo linea">Who is it?</h2>
        <p>The <strong>Bengal tiger</strong>, one of six subspecies of tiger in the world, is the only feline with
          striped fur. Its large size make it the largest felids (carnivores which feed almost exclusively on animals
          they kill). The gorgeous white tiger are a variety of the <strong>Indian</strong> subspecies. Its off-white or
          cream colour is due to a recessive mutation, that is, a faulty transcription of the genetic code in the gene
          responsible for colour (when both the mother and the father are carriers of said gene). They generally have
          pink-coloured pupils and a blue iris. The tones range from toasty grey to black.</p>
        <p>In the last century, hunting and the destruction of the forests have reduced the population of tigers: it has
          gone from hundreds of thousands of individuals to <strong>fewer than 2,500</strong>. Conservation programmes
          are of great importance.</p>
      </article>

      <article>
        <h2 class="titulo linea">What are its habits?</h2>
        <p>A <strong>wild</strong> species par excellence, it lives where felids abound and it is particularly adapted
          for hunting.</p>
        <p><strong>Its furs acts to camouflage</strong> it among the shades of the trees or the grass. It patrols its
          territory at night, <strong>alone</strong>: it is very <strong>furtive</strong>, so much so that its legs
          barely touch the ground.</p>
        <p>Tigers are among the <strong>top predators</strong>, behind only bears.</p>
        <p>In the breeding season, however, they are surprisingly tender: male and female are very tolerant of each
          other. They reach sexual maturity at the age of three years and usually have litters of two to three cubs
          (after a gestation lasting 103 days).</p>
      </article>

      <article>
        <h2 class="titulo linea">Did you know…</h2>
        <p>Tigers <strong>live longer in zoos than in the wild</strong>, where their average life span is between eight
          and 10 years. In captivity they may attain 26 years of age.</p>
      </article>
    </div>
  </section>
</div>
