/* Colores */
$amarillo: #FAC938
$azul: #2E97C2
$rojo: #EA5924
$blanco: #F0F6F6
$negroOscuro: #141414
$negro: #212121
$negroMedio: #333333
$negroClaro: #6E6E6E

///////////////////////////////////////////////////////////////////////

/* Fuentes */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap')
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap')
$titulo: 'Roboto', sans-serif
$texto: 'Lato', sans-serif

